{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
<style>
    
</style>

<div class="example-wrapper">
    <ul>
        <div>
            <input type="text" placeholder="New name"/>
            <button>Submit</button>
        </div>

        <div>
            <p>My skills :</p>
        </div>
    </ul>
</div>
{% endblock %}
