{% extends 'base.html.twig' %}

{% block title %}MyLittlePhony{% endblock %}

{% block body %}
<style>
    h1 {text-align: center;}
</style>

<h1>Create an offer</h1>
{{ form(form) }}

{% endblock %}
