{% extends 'base.html.twig' %}

{% block title %}Hello DisplayBusinessesController!
{% endblock %}

{% block body %}
	<style>

	</style>

	<div class="example-wrapper">
		<h1>
			HERE IS THE LIST of compagnies :
		</h1>


		<ul class="col-8 list-b">
			{% if businesses %}
				{% for business in businesses %}
					<li>
						<div class="card-b">
							<i class="italic_name">
								{{business.name}}
								✅
							</i>

						</div>
					</li>
				{% endfor %}
				{% else %}

			{% endif %}

		</ul>
	</div>
{% endblock %}
